.registration {
    margin:0;
    display: grid;
    grid-template-columns: .4fr 2.1fr .4fr;
    padding:0;
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

.register-container{
  width: 100%;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.register-container h2{
   text-align: center;
   margin-bottom: 3rem;
}

.prompt-box{
    position: relative;
}

.prompt-box input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.prompt-box label {
    position: absolute;
    top:-25px;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    color: rgb(253, 206, 149);
}

.submt-button{
    margin-left: auto;
    margin-right: auto;
    background-color: #161617;
    padding: 0.6rem 1.4rem;
    border: none;
    font-weight: bold;
    font-size: .8rem;
    color: rgb(255, 95, 2);
    background-color: #EEEEEE;
    border-radius: 10px;
}
